<!DOCTYPE html>
<html>
<head>
 <title>Bootstrap 101 Template</title>
 <!-- Bootstrap -->
 <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body style="padding-top: 30px;" onload="">

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
 <!-- Brand and toggle get grouped for better mobile display -->
 <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	 <span class="sr-only">Toggle navigation</span>
	 <span class="icon-bar"></span>
	 <span class="icon-bar"></span>
	 <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="index.html">１ヶ月で作ってみました</a>
 </div>

 <!-- Collect the nav links, forms, and other content for toggling -->
 <div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul class="nav navbar-nav">
	 <li><a href="index.html">ホーム</a></li>
	 <li class="dropdown">
		<a href="learning.html" class="dropdown-toggle" data-toggle="dropdown">はじめに <b class="caret"></b></a>
		<ul class="dropdown-menu">
		 <li><a href="learn-bootstrap.html">Bootstrap とは？</a></li>
		 <li><a href="how-to-use.html">Bootstrap3 導入の仕方</a></li>
		 <li><a href="html.html">基本のHTMLコード</a></li>
		</ul>
	 </li>
	 <li class="dropdown">
		<a href="css.html" class="dropdown-toggle" data-toggle="dropdown">CSS <b class="caret"></b></a>
		<ul class="dropdown-menu">
		 <li><a href="css.html#grid-system">グリッドシステム</a></li>
		 <li><a href="css.html#type">タイポグラフィ</a></li>
		 <li><a href="css.html#code">コードの表示</a></li>
		 <li><a href="css.html#table">テーブル(表)</a></li>
		 <li><a href="css.html#form">フォーム</a></li>
		 <li><a href="css.html#buttons">ボタン</a></li>
		 <li><a href="css.html#helper">ヘルパークラス</a></li>
		 <li><a href="css.html#responsive">レスポンシブWebデザインで使えるコード</a></li>
		</ul>
	 </li>
	 <li class="dropdown">
		<a href="components.html" class="dropdown-toggle" data-toggle="dropdown">Components <b class="caret"></b></a>
		<ul class="dropdown-menu">
		 <li><a href="components.html#glyphicons">アイコン</a></li>
		 <li><a href="components.html#dropdowns">ドロップダウン</a></li>
		</ul>
	 </li>
	 <li><a href="http://www.hrgrweb.com">hrgrweb.com</a></li>
	</ul>
 </div><!-- /.navbar-collapse -->
</nav>

<div class="jumbotron">
 <div class="container">
	<h1><%= title %></h1>
 </div>
</div>
<form action="/wordbooks" method="post">
<div class="container">
<div class="row">

	<span class="glyphicon glyphicon-book">単語帳名</span>
	<div class="form-group">
	<div class="col-md-4">
	<input type="text" id="word_book_name" class="form-control" name="word_book_name" placeholder="英単語帳">
	</div>
	</div><br /><br />
 <span class="glyphicon glyphicon-exclamation-sign">備考</span>
 <div class="form-group">
 <div class="col-md-4">
	<input type="text" id="biko" class="form-control" name="biko" placeholder="英単語の勉強用">
	</div>
	</div><br /><br />
 <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-send">　登録 </span></button>
</div><!-- /.row -->
</div><!-- /.container -->
</form>
<div class="text-center">
 Copyright &copy; 2014 TakaoYamamoto, All Rights Reserved.
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>

</body>
</html>